@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.section {
		margin-bottom: theme('spacing.10');
	}

	.box {
		padding-left: theme('spacing.1');
		padding-right: theme('spacing.1');
		@apply border border-black;
	}
	.button {
		@apply border border-black transition-colors px-1;
	}
	a {
		@apply text-blue-500 underline;
	}
	a:visited {
		@apply text-purple-500;
	}
}
